
@model List<Model.Entity.Cotizacion>

@{
    ViewBag.Title = "ReporteVentas";
}
<h2>Reporte de Ventas</h2>

<table id="tbTable" class="display responsive nowrap">
    <thead>
        <tr class="bg-primary">
            <th>Id Venta</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Vendedor</th>
            <th>IVA</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objVenta in Model)
        {
            <tr>
                <td>@objVenta.IdVenta</td>
                <td>@objVenta.NombreCliente</td>
                <td>@objVenta.Fecha</td>
                <td>@objVenta.IdVendedor</td>
                <td>@objVenta.Iva</td>
                <td>@objVenta.Total</td>
                <td>
                    <a class="btn btn-success" href="~/Cotizacion/DetallesVenta/@objVenta.IdVenta"><span class="glyphicon glyphicon-eye-open"></span>|Ver Detalles</a>
                    <a class="btn btn-info" href="~/Cotizacion/Update/@objVenta.IdVenta"><span class="fa fa-edit"></span>|Editar</a>
                    <a class="btn btn-danger" href="~/Cotizacion/Eliminar/@objVenta.IdVenta"><span class="glyphicon glyphicon-remove">|Eliminar</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tbTable').DataTable();
        });
    </script>
}



