
@model List<Model.Entity.Cotizacion>

@{
    ViewBag.Title = "ReporteVentas";
}
<script src="~/Js/alertify.min.js">

</script>
<link href="~/Css/alertify.core.css" rel="stylesheet" />
<link href="~/Css/alertify.default.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h2>Reporte de Ventas</h2>

<table class="table">
    <thead>
        <tr class="bg-primary">
            <th>Id Venta</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Vendedor</th>
            <th>IVA</th>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var objCotizacion in Model)
        {
            <tr>
                <td>@objCotizacion.IdVenta</td>
                <td>@objCotizacion.IdCliente</td>
                <td>@objCotizacion.Fecha</td>
                <td>@objCotizacion.IdVendedor</td>
                <td>@objCotizacion.Iva</td>
                <td>@objCotizacion.Total</td>
                <td><a style="float:right;" class="btn btn-warning" href="~/Cotizacion/SendEmailFactura?IdVenta=@objCotizacion.IdVenta" target="_blank" rel="noopener noreferrer">Enviar Email</a></td>
                <td><a class="btn btn-success" href="~/Reportes/Ingles/frmReporteEn.aspx?IdVenta=@objCotizacion.IdVenta" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-eye-open"></span>|Imprimir Ingles</a></td>
                <td><a class="btn btn-success" href="~/Reportes/Espanol/frmReporteEs.aspx?IdVenta=@objCotizacion.IdVenta" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-eye-open"></span>|Imprimir Español</a></td>
            </tr>
        }

    </tbody>
</table>

<script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/jquery/jquery.min.js"></script>