@model Model.Entity.Cliente
@{
    ViewBag.Title = Lenguaje.Recurso.Nuevo_Cliente;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Js/alertify.min.js"></script>
<link href="~/Css/alertify.core.css" rel="stylesheet" />
<link href="~/Css/alertify.default.css" rel="stylesheet" />

<script type="text/javascript">
    function obtenerCuenta(Cuenta) {
        /*       var watchclose = setInterval(function () {*/
        $("#txtnombre").val(Cuenta.Nombre);
        $("#Cuenta").val(Cuenta.Codigo);
        /*       });*/
    }


</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("a[rel='pop-up']").click(function () {
            var caracteristicas = "height=550,width=1000,scrollTo,resizable=1,scrollbars=1,location=0";
            nueva = window.open(this.href, 'popup', caracteristicas);
            return false;
        });
    });
</script>

<div class="well well-sm text-primary text-center">
    @ViewBag.MensajeInicio
</div>

@*@Html.EditorForModel()*@
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>        

        <div class="form-group">
            <p class="control-label col-md-2">Codigo Cuenta</p>
            <div class="col-md-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Cuenta, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <span class="input-group-btn"><a class="btn btn-success" rel="pop-up" href="~/Cuenta/Create"><span class="fa fa-plus fa-fw"></span></a></span>
                </div>
            </div>
            </div>
            <br />
            <div class="form-group">
                <p class="control-label col-md-2">Cuenta</p>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="txtnombre" readonly required />
                    <a href="~/Cliente/ObtenerCuenta" rel="pop-up">
                        <input class="btn btn-warning btn-lg col-md-12" type="button" name="enlace_cuenta" value="@Lenguaje.Recurso.Cotizacion_obtenerCliente" />
                    </a>
                </div>
            </div>

</fieldset>

        <div class="form-actions col-md-offset-2">
            <input class="btn btn-primary" type="submit" name="btnguardar" value="@Lenguaje.Recurso.Guardar" />|
            @Html.ActionLink(Lenguaje.Recurso.Regresar_al_Listado, "Index")
        </div>
    </div>

}
<div class="text-primary text-success text-center">
    @ViewBag.MensajeExito;
</div>
<div class="text-primary text-danger text-center">
    @ViewBag.MensajeError;
</div>

<script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/jquery/jquery.min.js"></script>