@model List<Model.Entity.Historial>
@{
    ViewBag.Title = "BuscarHistorial";
}

<table id="tbhistorial" class="display responsive nowrap">
    <thead>
        <tr class="bg-primary">
            <th>Fecha Cotizacion</th>
            <th>Cliente</th>
            <th>Numero de Cotizacion</th>
            <th>Producto</th>
            <th>Precio Unitario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objHistorial in Model)
        {
            <tr>
                <th>@objHistorial.FechaCotizacion.ToString("MM/dd/yyyy")</th>
                <th>@objHistorial.Cliente</th>
                <th>@objHistorial.NumCotizacion</th>
                <th>@objHistorial.Producto</th>
                <th>@objHistorial.PrecioUnitario.ToString("C2")</th>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#tbhistorial').DataTable();
        });
    </script>
}