@model List<Model.Entity.Cotizacion>
@{
    ViewBag.Title = "Index";
}
<script src="~/Js/alertify.min.js">

</script>
<link href="~/Css/alertify.core.css" rel="stylesheet" />
<link href="~/Css/alertify.default.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script language="javascript">
    function RFQ(idVenta) {
        var envio = "{";
        console.log(idVenta);
        if (idVenta != null) {
            envio += "idVenta:'" + idVenta + "'";
            envio += "}";
            console.log(envio);
            var json = eval("(" + envio + ')'); //
            console.info(json);
            $.ajax({
                url: "AgregarRfq",
                data: JSON.stringify(json),
                type: "POST",
                async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (response) {
                    alertify.alert(response);
                    valid = response.valid;
                }
            });

        } else {
            alertify.error("Se debe seleccionar un registro");
        }
        $('input').filter(':checkbox').prop('checked', false);
    }
</script>
<h2 style="text-align:center; font-family:Arial; font-weight:700;">Cotizaciones realizadas</h2>
@using (Html.BeginForm())
{

    <h4 style="text-align:center; font-family:Arial; ">Filtrar por fecha:</h4>
    <fieldset>
        <div class="form-group col-md-3">
            @Html.Label("Mes", new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("txtMes", (IEnumerable<SelectListItem>)ViewBag.ListaMeses,
             "Seleccionar", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Año", new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("txtYear", (IEnumerable<SelectListItem>)ViewBag.ListaYears,
             "Seleccionar", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

    </fieldset>

    <input type="submit" value="Buscar" />
}
<table id="tbTable" class="display responsive nowrap">
    <thead>
        <tr class="bg-primary">
            <th>Id Venta</th>
            <th>Total</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Fecha</th>
            <th>IVA(%)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objCotizacion in Model)
        {
            <tr>
                <td>@objCotizacion.IdVenta</td>
                <td>@objCotizacion.Total</td>
                <td>@objCotizacion.Cliente</td>
                <td>@objCotizacion.IdVendedor</td>
                <td>@objCotizacion.FechaCotizacion.ToString("MM/dd/yyyy")</td>
                <td>@objCotizacion.Iva</td>
                <td><a class="btn btn-info" href="~/DetalleCotizacion/DetalleCotizacion?idVenta=@objCotizacion.IdVenta"><span class="glyphicon glyphicon-eye-open">|Verdetalles</span></a>
                <a class="btn btn-warning" href="~/DetalleCotizacion/Editar?idVenta=@objCotizacion.IdVenta"><span class="glyphicon glyphicon-pencil">|Editar</span></a>
                <a class="btn btn-danger" href="~/DetalleCotizacion/PreEliminar?idVenta=@objCotizacion.IdVenta"><span class="glyphicon glyphicon-remove">|Eliminar</span></a>
                <a class="btn btn-info" onclick="RFQ(@objCotizacion.IdVenta)"><span class="glyphicon glyphicon-check">Enviar a RFQ</span></a></td>
            </tr>
        }

    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#tbTable').DataTable();
        });
    </script>
}