@model WebFacturaMvc.Datos.empleado


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>empleado</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apPaterno)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apPaterno)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apMaterno)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apMaterno)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dni)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dni)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tipoEmpleado.descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tipoEmpleado.descripcion)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idEmpleado }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
