
@{
    ViewBag.Title = "_LayoutMy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/Utilidades/Imagenes/logo conceptos Icon.png">
    <title>Principal- Sistema Ventas</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    @*<link href="~/Assets/metisMenu/metisMenu.min.css" rel="stylesheet" />*@
    <!-- Custom CSS -->
    <link href="~/Css/sb-admin-2.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    @*<link href="~/Assets/morrisjs/morris.css" rel="stylesheet" />*@
    <!-- Custom Fonts -->
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
       
</head>

<body>


    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">          

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             @Html.ActionLink("                           ", "Inicio", "Index", new { area = "" }, new { @class = "navbar-brand" })     
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-home fa-fw"></i> @Lenguaje.Recurso.INICIO
                    </a>
                    <!-- /.dropdown-tasks -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-home fa-fw"></i> @Lenguaje.Recurso.QUIENES_SOMOS
                    </a>
                    <!-- /.dropdown-tasks -->
                </li>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>@Lenguaje.Recurso.SERVICIOS <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="~/Cliente/BuscarClientes">
                                <div>
                                    <i class="fa fa-users fa-fw"></i>@Lenguaje.Recurso.Registro_Clientes
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-users fa-fw"></i>@Lenguaje.Recurso.Registro_Vendedores
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-book fa-fw"></i> @Lenguaje.Recurso.Reporte_Facturas
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tv fa-fw"></i> @Lenguaje.Recurso.Reporte_Artículos
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-shopping-cart fa-fw"></i>@Lenguaje.Recurso.Reporte_Cotizacion
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>

                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                @if (User.Identity.IsAuthenticated)
                {               
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> @Lenguaje.Recurso.Perfil_del_usuario</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> @Lenguaje.Recurso.Ajustes</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                @Html.ActionLink(@Lenguaje.Recurso.Cerrar_sesion, "LogOff","Account")
                            </li>
                        </ul>               
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Registrarse</a>
                    </li>
                }
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                @*<input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?">*@                           
                                @*<span class="input-group-btn">*@

                                    <!--<ul id="box-search">
                                        <li><a href="articulo.html"><i class="fas fa-search"></i>HTML</a></li>
                                        <li><a href="articulo.html"><i class="fas fa-search"></i>CSS</a></li>
                                        <li><a href="articulo.html"><i class="fas fa-search"></i>JavaScript</a></li>
                                        <li><a href="articulo.html"><i class="fas fa-search"></i>PHP</a></li>
                                        <li><a href="articulo.html"><i class="fas fa-search"></i>NODEJS</a></li>
                                        <li><a href="articulo.html"><i class="fas fa-search"></i>VUEJS</a></li>
                                        <li><a href="articulo.html"><i class="fas fa-search"></i>Como hacer</a></li>
                                        <li><a href="articulo.html"><i class="fas fa-search"></i>Como crear</a></li>
                                    </ul>

                                    <div id="cover-ctn-search"></div>-->
                                @*</span>*@
                            </div>
                             @*/input-group*@ 
                        </li>
                        <li>
                            <a href="~/"><i class="fa fa-home fa-fw"></i> Principal</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-square fa-fw"></i> Artículos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/Marca/Index"><i class="fa fa-tags fa-fw" style="color:#f0ad4e"></i>Marca</a>
                                </li>
                                <li>
                                    <a href="~/Categoria/Index"><i class="fa fa-check fa-fw" style="color:#f0ad4e"></i>Categorías</a>
                                </li>
                                <li>
                                    <a href="~/Producto/BuscarProductos"><i class="fa fa-search fa-fw" style="color:#f0ad4e"></i>Buscar Producto</a>
                                </li>

                                <li>
                                    <a href="~/Producto/Index"><i class="fa fa-product-hunt fa-fw" style="color:#f0ad4e"></i>Artículos</a>
                                </li>
                                <li>
                                    <a href="~/Existencia/Filtrado"><i class="fa fa-sort-numeric-asc fa-fw" style="color:#f0ad4e"></i>Inventario</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dollar fa-fw"></i> Cotizaciones<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/Cotizacion/Historial"><i class="fa fa-book fa-fw" style="color:#f0ad4e"></i>Historial</a>
                                </li>
                                <li>
                                    <a href="~/Cotizacion/VentaFactura"><i class="fa fa-archive fa-fw" style="color:#f0ad4e"></i>Generar Factura</a>
                                </li>
                                <li>
                                    <a href="~/Cotizacion/NuevaCotizacion"><i class="fa fa-shopping-cart fa-fw" style="color:#f0ad4e"></i>Nueva Cotizacion</a>
                                </li>
                                <li>
                                    <a href="~/DetalleCotizacion/Index"><i class="fa fa-info-circle fa-fw" style="color:#f0ad4e"></i>Detalle Cotizacion</a>
                                </li>
                                <li>
                                    <a href="~/Cotizacion/ReporteCotizacion"><i class="fa fa-book fa-fw" style="color:#f0ad4e"></i>Reportes</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-shopping-bag fa-fw"></i> Compra<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/Compra/Consulta"><i class="fa fa-archive fa-fw" style="color:#f0ad4e"></i>Detalle Compra</a>
                                </li>
                                <li>
                                    <a href="~/Compra/Index"><i class="fa fa-shopping-cart fa-fw" style="color:#f0ad4e"></i>Nueva Compra</a>
                                </li> 
                            </ul>
                        </li>


                        <li>
                            <a href="~/Cliente/Index"><i class="fa fa-user fa-fw"></i> Clientes</a>
                        </li>
                        <li>
                            <a href="~/Account/Index"><i class="fa fa-user fa-fw"></i> Empledos</a>
                            @*<ul class="nav nav-second-level">
                <li>
                    <a href="~/ModoPago/Index"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Modos de Pago</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Pagos</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Cobros</a>
                </li>
            </ul>*@
                        </li>
                        <li>
                            <a href="~/Sucursal/Index"><i class="fa fa-home fa-fw"></i> Sucursal</a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="~/Proveedor/Index"><i class="fa fa-shopping-cart fa-fw"></i> Proveedor</a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Cobros y Pagos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/ModoPago/Index"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Modos de Pago</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Pagos</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Cobros</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Administración<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Empresa</a>
                                </li>
                                <li>
                                    <a href="#">Empleados</a>
                                </li>
                                <li>
                                    <a href="#">Almacenes</a>
                                </li>
                                <li>
                                    <a href="#">Cargos</a>
                                </li>
                                <li>
                                    <a href="#"> Usuarios</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Configuracion/Details"><i class="fa fa-wrench fa-fw"></i> Configuracion</a>
                        </li>
                        <li>
                            <a href="~/Configuracion/DetailsCorreo"><i class="fa fa-wrench fa-fw"></i> Configuracion Correo</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">           
            <!-- /.row -->           
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Assets/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Assets/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->    
    <script src="~/Assets/morrisjs/morris.min.js"></script>       
    <!-- Custom Theme JavaScript -->
    <script src="~/Js/sb-admin-2.js"></script>
</body>
</html>



