@model List<Model.Entity.Estado>
@{
    ViewBag.Title = "Lista de Estados";
}
<h2 style="text-align:center; font-family:Arial; font-weight:700;">Estados disponibles</h2>
<h4 style="text-align:center; font-family:Arial; ">Filtrar por nombre:</h4>
<center>
    @using (Html.BeginForm())
    {
    <div class="row col-md-12">
        <div class="col-md-2">
            @Html.Label("ID Pais:", new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-2">
            @Html.TextBox("txtPais", ViewData["Pais"], new { @class = "form-control",@readonly="readonly" })
        </div>
        <div class="col-md-4">
            @Html.TextBox("txtParametro", "", new { @class = "form-control" })
        </div>
        <div class="col-md-4">

        </div>
    </div>
        <input type="submit" value="Buscar" />
    }
</center>
<center>
    <br />
    <a class="btn btn-success" href="~/Estado/AgregarEstado?idPais=@ViewData["Pais"]">Agregar</a> <a class="btn btn-info" href="~/Pais/Index">Regresar</a>
    <table class="table">
        <thead>
            <tr class="bg-primary">                
                <th>ID Estado</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objEstado in Model)
            {
            <tr>                
                <td>@objEstado.IdEstado</td>
                <td>@objEstado.NombreEstado</td>
                <td><a class="btn btn-info" href="~/Ciudad/Index?idEstado=@objEstado.IdEstado"><span class="glyphicon glyphicon-eye-open">|Ciudades</span></a></td>
                <td><a class="btn btn-warning" href="~/Estado/EditarEstado?idEstado=@objEstado.IdEstado"><span class="glyphicon glyphicon-pencil">|Editar</span></a></td>
                <td><a class="btn btn-danger" href="~/Estado/EliminarEstado?idEstado=@objEstado.IdEstado"><span class="glyphicon glyphicon-alert">|Eliminar</span></a></td>
            </tr>
            }

        </tbody>
    </table>
</center>